
input[type=text] {
  display: list-item;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid darkblue;
  font-weight: bold;
}
h1{
  margin-bottom: 1cm;
  align-items: center;
  font-family: sans-serif;
}

#outer-box-login{
  margin-top: 50px;
  padding: 200px;
  width: 40%;
  length: 1000px;
  background-color: #3a64b4;
  border: 4px solid darkblue;
  border-radius: 25px;
}
#login-container{

  align-items: center;
  justify-content: center;
  display: flex;
}
#outer-box-student{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: 1000px;
  length: 1000px;
  background-color: #3a64b4;
  border: 4px solid darkblue;
  border-radius: 25px;
}
#student-container{
  display: grid;
}

.row1{
  grid-row: 1;

}
.row2{
  grid-column: 1 / 3;
}

.student-title{
  text-align: center;
}
.student-table{
  text-align: left;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#nav-tab button{
  width: 50%;
  background-color: lightgrey;
  color: black;
}
#nav-tab .active{
  background-color: white;
}
#nav-tab button:hover{
  background-color: white;
}

#logoutBtnDiv{
  margin-top: 10px;
  width: 70%;
  grid-column-start: 2;
  grid-column-end: end;
  grid-row: 1;
  position: relative;

}

#logoutBtnDiv :hover{
  border: solid blue 1px;
  background-color: white;
}

button{
  border-radius: 4px;
  padding: 5px;
  border: 0px;
  width: 100%;

}

/* ------------------- */
/* TEACHER STYLING BELOW */

#teacherH1{
  text-align: center;
}

#teacherBody{
  background-color: aliceblue;
}

.logoutLblPos {
  position: fixed;
  right: 10px;
  top: 5px;
}

.boxed {
  border: 1px solid Blue;
}

 table{
   border: 1px solid black;
   text-align: left;
   background-color: cornflowerblue;
   border-collapse: collapse;
   width: 100%;
 }
 th,
 td {
   border: 1px solid black;
   padding: 15px;
   text-align: left;
 }
 /*  */
 /* STUDENT COURSE INFO BELOW */


 /* #courseInfoH1{
   margin-bottom: 1cm;
   align-items: center;
   text-align: center;
 } */

 #courseInfoBody{
   background-color: azure;
   text-align: center;
 }