input[type=text] {
  display: list-item;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid darkblue;
  font-weight: bold;
}
h1{
  margin-bottom: 1cm;
  align-items: center;
  text-align: center;
}
body{
    background-color: azure;
    text-align: center;
}
form{ 
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#outer-box-login{
  margin: auto;
  padding: 200px;
  width: 50%;
  length: 1000px;
  background-color: AliceBlue;
  border: 4px solid darkblue;
  border-radius: 25px;
  position: relative;
}
#login-container{

  align-items: center;
  justify-content: center;
  display: flex;
  background-color: light blue;
}
#outer-box-student{
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  width: 1000px;
  length: 1000px;
  background-color: aliceblue;
  border: 4px solid darkblue;
  border-radius: 25px;
}
#student-container{
  display: grid;
  
}

.row1{
  grid-row: 1;

}
.row2{
  grid-column: 1 / 3;
}
.student-title{
  text-align: center;
}
.student-table{
  text-align: left;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#nav-tab button{
  width: 50%;
}
#nav-tab .active{
  background-color: white;
}
#nav-tab button:hover{
  background-color: white;
}
#logoutBtn{
  width: 10%;
  position: fixed;
  right: 10px;
  top: 5px;
  background-color: Silver;
  
}
button{
  border-radius: 4px;
  padding: 5px;
  border: 0px;
  width: 100%;
  background-color: Silver;
}
.boxed{
    border: 1px solid Blue;
}  
 table, td, th{
border: 1 px solid black;
text-align: left;
} 

table{
    background-color: SteelBlue;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid black;
    padding: 15px;
}

input[type=button],input[type=submit],button{
    background-color: MintCream;
    width: 180px;
    height:30px;
    line-height:20px;
    border:none;
    cursor:pointer;
    font-weight: bold;
}
