<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Administator</title>
        <link rel="stylesheet" href="..\static\style2.css">
        <script language="JavaScript" src="script.js" type="text/javascript"></script>
    </head>
    <body>
        <h1> Administrator Page</h1>
        <form align="left" name="form1" method="put" action="welcome">
            <label class="Welcome">
            </label>
        </form>
        <form align="right" name="form2" method="post" action="log_out.php">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="log out">
            </label>
        </form>
        <div class="boxed">
        <table>
            <td>
                 <button class="button button1">Create</button>
            </td>
            <td>
                <button class="button button2">Read</button>
            </td>
            <td>
                <button class="button button2">Update</button>
            </td>
            <td>
                <button class="button button2">Delete</button>
            </td>
        </table>
       </div>
    </body>
</html>
