<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<link rel="stylesheet" href="..\static\style2.css">

<form action="/logout" method="post">
    <button id='logoutBtn' onclick="logout()">Logout</button>
</form>

<h1>  {{table[0][0]}}</h1>
<form action="/editgrade", method="Post">
<table>
    <div>
        <tr>
            <th>Student Name</th>
            <th>Grade</th>    
            <th>Edit Grade</th>
        </tr>
    </div>

    {% for row in range(0,table|length ) %}
    <tr>

        <td>
            {{table[row][2]}}
        </td>
        <td>
            <p><a href="/editgrade/{{table[row][1].student_id}}/{{table[row][1].class_id}}">
                {{ table[row][1].grade}}
            </a>
            </p>
            
        </td>
        
            
        
        <td>
            <input type="hidden" name='studentid' value="{{table[row][1].student_id}}" />
            <input type="hidden" name='classid' value="{{table[row][1].class_id}}" />
            <input type="text" id="grade" name="grade" value="">
            <input type="submit" value="Submit">
        </td>
      

    </tr>
    {% endfor %}
</table>
</form>
