<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Create a User</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <div>
        <h1>Registration Form</h1>
        <form action='/admin/createpage/' method="post" autocomplete="off">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="password">
            <input type="text" placeholder="Name" name="name">
            <br>
            <label>You are a :</label>
            <select id="permissionType" name="permType">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <button value="submit" type="submit">Register</button>
        </form>
    </div>


</body>

</html>