<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<h1>test</h1>

<form action="/logout" method="post">
    <button id='logoutBtn' onclick="logout()">Logout</button>
</form>

<h1>Your Courses</h1>
<table>
    <div>
        <tr>
            <th>Course Name</th>
            <th>Teacher</th>
            <th>Time</th>
            <th>Students Enrolled</th>
        </tr>
    </div>

    {% for row in range(0,classInfo|length ) %}
    <tr>

        <td>
            {{classInfo[row].courseName}}
        </td>
        <td>
            {{ teachers[row].name }}
        </td>
        <td>
            {{classInfo[row].time}}
        </td>
        <td>
            {{classInfo[row].numEnrolled}}
        </td>

    </tr>
    {% endfor %}
</table>

