<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Instustor</title>
        <link rel="stylesheet" href="style.css">
        <script language="JavaScript" src="script.js" type="text/javascript"></script>
    </head>
    <body>
        <h1> Instructor Page</h1>
        <form align="left" name="form1" method="put" action="welcome">
            <label class="Welcome">
            </label>
        </form>
        <form align="right" name="form2" method="post" action="log_out.php">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="log out">
            </label>
        </form>
        <div class="boxed">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Instructor</th>
                <th>Time</th>
                <th>Student Enrolled</th>
            </tr>
            <tr>
                <td>
                    <div id="text" onCLick="">
                     CS 162   
                    </div>
                </td>
            </tr>
        </table>   
        </div>
    </body>
</html>