<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Instustor</title>
        <link rel="stylesheet" href="..\static\style2.css">
        <script language="JavaScript" src="script.js" type="text/javascript"></script>
    </head>
    <body>
        <h1> Welcome {{ teachers[0].name }}</h1>
        <form align="left" name="form1" method="put" action="welcome">
            <label class="Welcome">
            </label>
        </form>
        <form align="right" name="form2" method="post" action="log_out.php">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="log out">
            </label>
        </form>
        <div class="boxed">
        <table>
            <tr>
                <th>Course Name</th>
                <th>Instructor</th>
                <th>Time</th>
                <th>Student Enrolled</th>
            </tr>
            {% for row in range(0,classInfo|length ) %}
        <tr>

            <td>
                <p><a href="/studentsincourse/{{classInfo[row].courseName}}/{{ teachers[row].id }}">
                    {{classInfo[row].courseName}}
                </a>
                </p>
            </td>
            <td>
                {{ teachers[row].name }}
            </td>
            <td>
                {{classInfo[row].time}}
            </td>
            <td>
                {{classInfo[row].numEnrolled}}
            </td>

        </tr>
        {% endfor %}
        </table>
        </div>

    </body>
</html>
